@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Mooli', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 12px;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    padding: 0 10px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: aquamarine;
}

main{
    min-height: 90vh;
    padding: 2px;
}

.container{
    /* background-color: bisque; */
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
}

.container h1{
    padding: 12px 0;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

input{
    min-width: 18vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.logo img{
    filter: invert(1);
    width: 15px;
}

#submit{
    padding: 5px;
    align-items: center;
    display: flex;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 13px;
    cursor: pointer;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    /* body{
        background-color: aquamarine;
    } */
    .container{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        padding: 6px 0;
        font-size: 12px;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        filter: invert(1);
        width: 15px;
    }
}