.contact-content {
    /* height: 395px; */
    /* background-color: blue; */
    display: block;
    margin-top: 30px;
    position: relative;
    height: 100vh;
    margin-bottom: 50px;
}

.contact-content::after{
    content:"";
    background: url("../img/4.jpg");
    position: absolute;
    top:0;
    width:100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}



